<!--Girish Bhuteja
    Bachelors of Computer Science (Honors)
    Conestoga College  -->

@{
    ViewData["Title"] = "Welcome Page";
}

<h2>Welcome Page</h2>

<p>Manage my <a href="@Url.Action("Index", "Party")">parties</a> or <a href="@Url.Action("Create", "Party")">add a new party</a>.</p>

<br />
<p>© 2025 - <a href="@Url.Action("Privacy", "Home")">Privacy</a> - Hey, welcome to the Party Guest Manager App!</p>
