<!--Girish Bhuteja
    Bachelors of Computer Science (Honors)
    Conestoga College  -->

{
    ViewData["Title"] = "Thank You";
}

<h2>Thank You!</h2>
<p>Your RSVP response has been recorded successfully.</p>

<!-- <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Back to Home</a> -->
